Repository shufo/tailwindcss-class-sorter, changes with the labels that .github/labeler.yml gives for each.
All labels: test, bin, application, github

.github/labeler.yml:

test:
  - __tests__/**/*
bin:
  - bin/**/*
application:
  - src/**/*
github:
  - .github/**/*

test: 💍 add fixture file for unresolvable test
  __tests__/fixtures/withConfigFile/basic/tailwind.config.unresolvable.js
Labels: test

ci: 🎡 run contributors action only main branch
  .github/workflows/contributors.yml
Labels: github

fix: 🐛 `tailwindConfig` caches context unexpectedly
  __tests__/sorter.test.ts
  src/main.ts
Labels: test, application

refactor: 💡 delete unnecessary console.log
  src/main.ts
Labels: application

fix: 🐛 slow performance with uncached tailwind config object
  __tests__/sorter.test.ts
  src/main.ts
Labels: test, application

test: 💍 add assertion for sorted results
  __tests__/sorter.test.ts
Labels: test

fix: 🐛 uncached default sorting is affecting performance
  src/main.ts
Labels: application

fix: 🐛 create context based on config hash
  src/main.ts
Labels: application

chore: 🤖 bump tailwindcss to 3.2.4
  package.json
  yarn.lock
Labels: none

feat: 🎸 support tailwind 3.2
  src/main.ts
Labels: application

chore: 🤖 drop support for node 12.x
  .github/workflows/test.yml
  package.json
Labels: github

feat: 🎸 migrate to ES Module
  README.md
  __tests__/cli.test.ts
  __tests__/fixtures/withConfigFile/basic/basic.spec
  __tests__/fixtures/withConfigFile/basic/tailwind.config.example.js
  __tests__/fixtures/withConfigFile/basic/tailwind.config.unresolvable.js
  __tests__/replace.test.ts
  __tests__/sorter.test.ts
  benchmark/run.js
  build/build.js
  build/import-meta-url.js
  esbuild.ts
  jest.config.ts
  jest.setup.ts
  package.json
  src/main.ts
  src/require.js
  tsconfig.json
Labels: test, application

chore: 🤖 bump esbuild to ^18.0.0
  package.json
Labels: none

chore: 🤖 bump jest to ^29.5.0
  package.json
Labels: none

chore: 🤖 (deps) bump ts-jest to ^29.0.0
  package.json
Labels: none

chore: 🤖 (deps) bump ts-node to ^ 10.9.1
  package.json
Labels: none

chore: 🤖 add synckit to dependencies
  package.json
Labels: none

chore: 🤖 bump tailwindcss to ^3.3.2
  package.json
Labels: none

chore: 🤖 update yarn.lock
  yarn.lock
Labels: none

ci: 🎡 add node 20.x as test target
  .github/workflows/test.yml
Labels: github

refactor: 💡 delete unnecessary lines
  src/main.ts
Labels: application

fix: 🐛 change main entry point to cjs
  package.json
Labels: none

test: 💍 add test for commonjs module require
  __tests__/fixtures/commonjs/basic.spec
  __tests__/fixtures/commonjs/commonjs.test.ts
  __tests__/fixtures/commonjs/package.json
  __tests__/fixtures/commonjs/tailwind.config.example.js
Labels: test

style: 💄 change EOL character from crlf to lf
  .editorconfig
  __tests__/cli.test.ts
  __tests__/fixtures/commonjs/commonjs.test.ts
  __tests__/fixtures/commonjs/package.json
  __tests__/replace.test.ts
  __tests__/sorter.test.ts
  __tests__/support/util.ts
  src/main.ts
  src/options.ts
Labels: test, application

feat: ESM support (#54)
  .editorconfig
  .github/workflows/test.yml
  README.md
  __tests__/cli.test.ts
  __tests__/fixtures/commonjs/basic.spec
  __tests__/fixtures/commonjs/commonjs.test.ts
  __tests__/fixtures/commonjs/package.json
  __tests__/fixtures/commonjs/tailwind.config.example.js
  __tests__/fixtures/withConfigFile/basic/tailwind.config.example.js
  __tests__/replace.test.ts
  __tests__/sorter.test.ts
  __tests__/support/util.ts
  benchmark/run.js
  build/build.js
  build/import-meta-url.js
  esbuild.ts
  jest.config.ts
  jest.setup.ts
  package.json
  src/main.ts
  src/options.ts
  src/require.js
  tsconfig.json
  yarn.lock
Labels: test, application, github

fix: 🐛 use loadConfig for module loading
  build/build.js
  src/main.ts
  src/require.js
Labels: application

test: 💍 fix test case to follow current behaviour
  __tests__/sorter.test.ts
Labels: test

chore: 🤖 remove synckit from dependencies
  package.json
  yarn.lock
Labels: none
