Repository shufo/tailwindcss-class-sorter, changes with the labels that .github/labeler.yml gives for each.
All labels: test, bin, application, github

docs: ✏️ update usage
  README.md
Labels: none

style: 💄 apply formatting
  __tests__/sorter.test.ts
Labels: test

ci: 🎡 drop support for node 12.x
  .github/workflows/test.yml
  package.json
Labels: github

ci: 🎡 delete unnecessary workflow
  .github/workflows/platform-test.yml
Labels: github

ci: 🎡 change default branch to main
  .github/workflows/create-release.yml
  .github/workflows/labels.yml
Labels: github

docs: ✏️ update README.md
  README.md
Labels: none

docs: ✏️ fix status badge link
  README.md
Labels: none

docs: ✏️ fix broken badge link
  README.md
Labels: none

docs: ✏️ add link to npm page
  README.md
Labels: none

chore: 🤖 (dev-deps) delete unnecessary package
  package.json
  yarn.lock
Labels: none

test: 💍 delete unnecessary lines
  jest.config.ts
  jest.setup.ts
Labels: none

chore: 🤖 add object-hash to dependencies
  package.json
  yarn.lock
Labels: none

chore: 🤖 (dev-deps) add benny to dev dependencies
  package.json
  yarn.lock
Labels: none

perf: ⚡️ add benchmark script to measure performance
  benchmark/run.js
  package.json
Labels: none

ci: 🎡 change pre-commmit hook as executable
  .husky/pre-commit
Labels: none

chore: 🤖 add ignore pattern for benchmark
  .gitignore
Labels: none

perf: ⚡️ improve creating context performance by cache context
  src/main.ts
Labels: application

docs: ✏️ add benchmark section
  README.md
Labels: none

style: 💄 apply formatter
  src/main.ts
Labels: application

docs: ✏️ add benchmark result image
  README.md
Labels: none

ci: 🎡 add perf type commit to changelog
  .github/workflows/create-release.yml
Labels: github

docs: ✏️ update README.md
  README.md
Labels: none

fix: 🐛 avoid optionial chain syntax to support node 12.x
  src/main.ts
Labels: application

chore: 🤖 support node12.x for backward compatibility
  package.json
Labels: none

ci: 🎡 revert support for node12.x
  .github/workflows/test.yml
Labels: github

test: 💍 collect coverage
  jest.config.ts
Labels: none

chore: 🤖 (deps-dev) add codecov
  package.json
  yarn.lock
Labels: none

ci: 🎡 add codecov action to collect coverage
  .github/workflows/test.yml
Labels: github

docs: add codecov badge
  README.md
Labels: none

chore: 🤖 add refactor type to change log types
  .github/workflows/create-release.yml
Labels: github

refactor: 💡 improve message for config not found error
  __tests__/sorter.test.ts
  package.json
  src/main.ts
Labels: test, application

chore: 🤖 update renovate.json config
  renovate.json
Labels: none

chore: 🤖 disable pinning
  package.json
  yarn.lock
Labels: none

fix: 🐛 import type from tailwindcss/defaultConfig
  src/main.ts
  src/options.ts
Labels: application

chore: 🤖 revert @types/tailwindcss to 3.0.9
  package.json
  src/main.ts
  src/options.ts
  yarn.lock
Labels: application

chore: 🤖 bump tailwindcss to 3.1.8
  package.json
  yarn.lock
Labels: none

fix: 🐛 import config type from tailwindcss
  src/main.ts
  src/options.ts
Labels: application

chore: 🤖 delete @types/tailwindcss from dependencies
  package.json
  yarn.lock
Labels: none

ci: 🎡 add node 18.x as test target
  .github/workflows/test.yml
Labels: github

refactor: 💡 improve error message for config file
  __tests__/sorter.test.ts
  src/main.ts
Labels: test, application

.github/labeler.yml:

test:
  - __tests__/**/*
bin:
  - bin/**/*
application:
  - src/**/*
github:
  - .github/**/*
